/*
Colors used

Text Color (Dark Gray): #2b2b2b;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #e0b354;

Sites
https://www.colorzilla.com/
https://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF
https://paletton.com/#uid=1000u0kllllaFw0g0qFqFg0w0aF
https://contrast-ratio.com/#white-on-%23357b70
https://fonts.google.com/
 */
